body {
    margin-top: 0;
}

header {
    background-color: blue;
    color: aquamarine;
    height: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
}

.container {
    width: 75%;
    margin: auto;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    overflow: hidden;
}

.column {
    width: 40%;
    float: left;
}

.panel {
    border: 5px solid lightblue;
    border-radius: 5px;
    overflow: hidden;
}

.panel2 {
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 0;
}

.panel2 .box {
    margin-top: 0;
}

.panel-head {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    color: blue;
    width: 100%;
    padding: 5px;
    height: 28px;
    font-size: 14px;
}

#about-me {
    margin: 5px;
}

#weezy-img {
    border: 6px solid lightblue;
    border-radius: 5px;
    width: 100%;
}

.button-head {
    display: flex;
    justify-content: center;
}

.box {
    margin-top: 10px;
    background-color: #E0E0E0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img1 {
    width: 100px;
}

#colorText {
    font-size: 1.8em;
}

#alterText {
    padding: 5px;
    background-color: blue;
    color: aquamarine;
    border-radius: 3px;
    width: 25%;
    margin: 0;
}